<a href="https://colab.research.google.com/github/Anannyyya/AIGS_AIML_S4F/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Welcome")

Welcome

numpy libraries in python

In [4]:
import numpy as np
np_array=np.array([1,2,3,4,5,6])
print(np_array)

[1 2 3 4 5 6]

In [6]:
b=np.array([(1,2,3,4,5),(6,7,8,9,10)])
print(b)
b.shape

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]]

(2, 5)

In [9]:
x=np.zeros((4,5))
print(x)

[[0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]]

In [10]:
y=np.ones((3,4))
print(y)

[[1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]]

In [12]:
z=np.full((5,4),3)
print(z)

[[3 3 3 3]
 [3 3 3 3]
 [3 3 3 3]
 [3 3 3 3]
 [3 3 3 3]]

In [13]:
e=np.eye(5)
print(e)

[[1. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0.]
 [0. 0. 1. 0. 0.]
 [0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 1.]]

pandas libararies in python

In [15]:
import pandas as pd
data={
    'name':['ananya','ashitha','adithya'],
    'age':[10,60,2],
    'city':['banglore']
}
print(data)

{'name': ['ananya', 'ashitha', 'adithya'], 'age': [10, 60, 2], 'city': ['banglore']}

In [24]:
data = {'Name': ['Alice', 'Bob'], 'Age': [25, 30]}
df1 = pd.DataFrame(data)
print(df1)
print(df1.info())
print(df1.describe())
print(df1.head())
print(df1['Age'])
df1['Salary']=[5000,6000]
print(df1)

    Name  Age
0  Alice   25
1    Bob   30
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    2 non-null      object
 1   Age     2 non-null      int64
dtypes: int64(1), object(1)
memory usage: 164.0+ bytes
None
             Age
count   2.000000
mean   27.500000
std     3.535534
min    25.000000
25%    26.250000
50%    27.500000
75%    28.750000
max    30.000000
    Name  Age
0  Alice   25
1    Bob   30
0    25
1    30
Name: Age, dtype: int64
    Name  Age  Salary
0  Alice   25    5000
1    Bob   30    6000

Matplotlib libraries in Python

In [ ]:
import matplotlib.pyplot as plt
x=[1,2,3,4,5]
y=[10,20,30,40,50]
#Create the plot using the above 2-D values
plt.plot(x,y)
plt.xlabel("Days")
plt.ylabel("marks")